* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: olive;
}

p {
    font-weight: bold;
    font-style: italic;
}

input {
    width: 200px;
    height: 30px;
}

button {
    width: 200px;
    height: 50px;
    color: aliceblue;
    background-color: olive;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

#cuenta_atras {
    margin-left: 100px;
    border: 1px;
    border-color: red;
    border-style: solid;
    color: red;
}